{% extends "base.html" %}

{% block title %}Contact | BK Portfolio{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold text-purple-300 mb-6">Contact</h1>
    <p class="text-gray-300 mb-4">Feel free to reach out via email or connect on social platforms below.</p>

    <ul class="space-y-2 text-lg text-gray-300">
    <li><strong>Email:</strong> <a href="mailto:khan.bradleyjoshua@gmail.com" class="text-purple-400 hover:underline">khan.bradleyjoshua@gmail.com</a></li>
    <li><strong>Whatsapp:</strong> (868) 374-4902</li>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/bradley-khan-300640278/" target="_blank" rel="noopener noreferrer" class="text-purple-400 hover:underline">linkedin.com/in/BradleyKhan</a></li>
    <li><strong>GitHub:</strong> <a href="https://github.com/thatguybk" target="_blank" rel="noopener noreferrer" class="text-purple-400 hover:underline">github.com/thatguybk</a></li>
    </ul>

<div class="flex justify-center space-x-4 mt-6">
    <a href="https://github.com/thatguybk" target="_blank" rel="noopener noreferrer" class="p-2">
       <img src="https://www.svgrepo.com/show/512317/github-142.svg" alt="GitHub" class="h-5 w-5 invert">
    </a>
    <a href="https://www.linkedin.com/in/bradley-khan-300640278/" target="_blank" rel="noopener noreferrer" class="p-2" aria-label="LinkedIn">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn" class="h-5 w-5">
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer" class="p-2" aria-label="X">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/X_logo_2023_%28white%29.svg" alt="X" class="h-5 w-5">
    </a>
    <a href="mailto:khan.bradleyjoshua@gmail.com" target="_blank" rel="noopener noreferrer" class="p-2" aria-label="Email">
        <img src="https://www.svgrepo.com/show/303161/gmail-icon-logo.svg" alt="Email" class="h-5 w-5">
    </a>
</div>
{% endblock %}

