{% extends "base.html" %}

{% block title %}Experience | BK Portfolio{% endblock %}

{% block body_class %}pokemon-body{% endblock %}

{%block extra_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pokemon.css') }}">
{% endblock %}

{% block content %}
<h1 class="experience-title">Experience</h1>

<div class="experience-grid">

  <div class="poke-card common">
    <div class="poke-header">
      <h2>Crocs</h2>
      <span class="year-badge">2024–2025</span>
    </div>

    <div class="poke-subtitle">Point of Sale Associate</div>
    <span class="type-badge retail">Retail</span>

    <ul class="poke-stats">
      <li>Customer Relations</li>
      <li>Inventory Management</li>
      <li>Problem Solving</li>
    </ul>

    <p class="poke-flavor">
      “A reliable frontline associate skilled in fast-paced customer environments.”
    </p>
  </div>

  <div class="poke-card rare">
    <div class="poke-header">
      <h2>DeepFocusTT</h2>
      <span class="year-badge">2024</span>
    </div>

    <div class="poke-subtitle">Camera Operator</div>
    <span class="type-badge media">Media</span>

    <ul class="poke-stats">
      <li>Camera Operations</li>
      <li>DaVinci Resolve</li>
      <li>Live Streaming</li>
      <li>Audio Engineering</li>
    </ul>

    <p class="poke-flavor">
      “Captures moments with precision and technical control.”
    </p>
  </div>

    <div class="poke-card epic">
    <div class="poke-header">
      <h2>Sagicor Insurance</h2>
      <span class="year-badge">2024</span>
    </div>

    <div class="poke-subtitle">Insurance Advisor</div>
    <span class="type-badge finance">Finance</span>

    <ul class="poke-stats">
      <li>Sales and Marketing</li>
      <li>Market Research</li>
      <li>Customer Outreach</li>
    </ul>

    <p class="poke-flavor">
      “Captures moments with precision and technical control.”
    </p>
  </div>

</div>

<h1 class="experience-title">Education</h1>

<div class="poke-card legendary">
  <div class="poke-header">
    <h2>BSc Computer Science (Special)</h2>
    <span class="year-badge">2026</span>
  </div>

  <div class="poke-subtitle">
    University of the West Indies
  </div>

  <span class="type-badge dev">Legendary</span>

  <ul class="poke-stats">
    <li>Data Structures & Algorithms</li>
    <li>Software Engineering I & II</li>
    <li>Big Data Analytics</li>
    <li>Systems Design</li>
  </ul>

  <p class="poke-flavor">
    “A long-term evolution focused on mastering core computer science fundamentals.”
  </p>
</div>


{% endblock %}


